<!-- We extend the base.html file -->
{% extends 'base.html' %}

<!-- Static files need to be loaded on every template file -->
{% load static %}

<!-- Set the first part of title -->
{% block title %}Home{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'store/css/searchItemLayout.css' %}">
{% endblock %}

<!-- Everything in this block will be inserted into the body block in base.html -->
{% block body %}
<div class="container-fluid h-100">
    <div class="row h-100">
        <!-- Filter Menu -->
        <div class="offcanvas offcanvas-start filterLeft" id="search" tabindex="-1" aria-labelledby="offcanvasLabel">
            <div class="row filterSection filterInputs">
                <div class="offcanvas-header filterHeader">
                    <h4 class="offcanvas-title" id="offcanvasLabel">Filter Results</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>

                <div class="offcanvas-body search">
                    <form method = "post">
                        {% csrf_token %}
                        {{ filter_form }}
                        <div class="row filterRow">
                            <div class="col-12 filterBtnRow"><button type="reset" class="filterBtnSecon">Clear Filter</button></div>
                            <div class="col-12 filterBtnRow"><button type="submit" class="filterBtn">Apply Filter</button></div>
                        </div>
                    </form>
                    <!-- <form>
                        <div class="row filterRow">
                            <input type="text" class="filterInput" placeholder="Container Name"/>
                        </div>
                        <div class="row filterRow">
                            <input id="location_id" type="text" class="filterInput" placeholder="Location"/>
                        </div>
                        <div class="row filterRow">
                            <input id="hazard_id" type="text" class="filterInput" placeholder="Hazard"/>
                        </div>
                        <div class="row filterRow">
                            <input id="cas_id" type="text" class="filterInput" placeholder="CAS Number" />
                        </div>
                        <div class="row filterRow">
                            <select class="filterInput" >
                                <option id="department_id" value="" selected disabled>Department</option>
                            </select>
                        </div>
                        <div class="row filterRow">
                            <div class="col-12 filterBtnRow"><button type="reset" class="filterBtnSecon">Clear Filter </button></div>
                            <div class="col-12 filterBtnRow"><button type="submit" onclick="" class="filterBtn">Apply Filter</button></div>
                        </div>
                    </form> -->
                </div>
            </div>

            <div class="row filterInputs">
                <div class="offcanvas-header chemHeader">
                    <h4 class="offcanvas-title" >Add/Remove Chemicals</h4>
                </div>
                <div class="offcanvas-body addRmvBtns">
                    <!-- TODO: reimplement the pointer-events thing -->
                    <button type="button" class="searchPageBtns contBtnSecon" id="initiateDelBtn" onclick="deleteModeOn()">
                            <!-- style="pointer-events: @((Model.DisplayContainers.Count() == 0) ? " none" : "initial" )"-->
                            <!-- disabled="@((Model.DisplayContainers.Count() == 0) ? " disabled" : null)" -->
                        Remove
                    </button>
                </div>
                <div class="offcanvas-body addRmvBtns">
                    <button type="button" class="searchPageBtns contBtn" id="addChemicalBtn" data-toggle="modal" data-target="#add-modal" onclick="getAddModal()">
                        Add
                    </button>
                </div>
            </div>
        </div>

        <!-- Filter Button Sidebar -->
        <div class="col filterLeft" style="flex: 0 0 3.5vw; padding: 1vw; overflow-y: clip">
            <button class ="btn miniToggle" type="button" data-bs-toggle="offcanvas" data-bs-target="#search" title="Show Filter">
                <i class="fa-solid fa-sliders"></i>
            </button>
        </div>

        <!-- Container Display -->
        <div class="col h-100 p-0">
            {% comment %} <div class="row py-3 resultsTopper">
                <div class="col topperCol">Showing</div>
                <div class="col topperCol"> <!-- @Model.numContainers --> Containers</div>
                <div class="col topperCol"> <!-- @Model.uniqueBuildings --> Buildings</div>
            </div> {% endcomment %}

            {% comment %} <div class="row resultsTopper">
                @if (Model.liquidAmount != 0)
                {
                    <div class="col topperCol">
                        @Model.liquidAmount
                        @EnumHelper.GetDisplayValue((Units)Model.liquidUnit)
                    </div>

                }
                @if (Model.solidAmount != 0)
                {
                    <div class="col topperCol">
                        @Model.solidAmount
                        @EnumHelper.GetDisplayValue((Units)Model.solidUnit)
                    </div>

                }
                @if (Model.pounds != 0)
                {
                    <div class="col topperCol">
                        @Model.pounds lbs
                    </div>
                }
                @if (Model.gallons != 0)
                {
                    <div class="col topperCol">
                        @Model.gallons gallons
                    </div>
                }
            </div> {% endcomment %}

            <div class="d-flex flex-column results h-100" id="results">
                <form method="post" class="flex-fill overflow-y-auto" id="deleteForm">
                    <table class="table m-0">
                        <thead class="bg-white border-bottom">
                            <tr class="py-2">
                                <th scope="col">
                                    Container Name
                                    {% comment %} TODO: add up and down arrow icons for toggling sorting {% endcomment %}
                                    {% comment %} <button type="submit" class="btn" form="filterForm" name="sortMethod" value="0">
                                        <img src="@((Model.prevSort == 0) ? "assets/upTableSort.png" :
                                    (Model.prevSort == 1) ? "assets/downTableSort.png" : "assets/neutralTableSort.png")" class="img tableSort" id="buttonImg">
                                    </button>
                                    <!--<button type="submit" form="filterForm" name="sortMethod" class="btn tableButton" value="0"> Chemical Name </button> -->
                                    <input name="prevSort" form="filterForm" asp-for="prevSort" type="number" value="@Model.prevSort" hidden>
                                    <!--<button type="submit" form="filterForm" name="sortMethod" class="searchPageBtns regBtn" value="4"> Dep </button> --> {% endcomment %}
                                </th>
                                <th scope="col">
                                    CAS Number
                                    {% comment %} TODO: add up and down arrow icons for toggling sorting {% endcomment %}
                                    {% comment %} <button type="submit" class="btn" form="filterForm" name="sortMethod" value="2">
                                        <img src="@((Model.prevSort == 2) ? "assets/upTableSort.png" :
                                    (Model.prevSort == 3) ? "assets/downTableSort.png" : "assets/neutralTableSort.png")" class="img tableSort" id="buttonImg">
                                    </button> {% endcomment %}
                                </th>
                                <th scope="col">Hazards</th>
                                <th scope="col">
                                    Size
                                    {% comment %} TODO: add up and down arrow icons for toggling sorting {% endcomment %}
                                    {% comment %} <button type="submit" class="blankImgButton" form="filterForm" name="revNums" class="btn tableButton" value="true">
                                        <img src="@((Model.revNumsPrev == true) ? "assets/downTableSort.png" : "assets/upTableSort.png")" class="img tableSort" id="buttonImg">
                                    </button>
                                    <input name="revNumsPrev" form="filterForm" asp-for="revNumsPrev" type="text" value="@Model.revNumsPrev" hidden> {% endcomment %}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if page_obj %}
                                {% for container in page_obj %}
                                    <tr class="expandable my-2">
                                        <td class="a">
                                            {{ container.product_name }}
                                        </td>
                                        <td class="a">
                                            CAS num(s)?
                                            {% comment %} TODO: display container's CAS number(s)?? {% endcomment %}
                                        </td>
                                        <td class="a">
                                            {% comment %} TODO: actually implement conditional rendering based on data {% endcomment %}
                                            <span class="hazards">
                                                <span class="hazard {% cycle "hazard-exclamation" "hazard-skull" "hazard-gas" "hazard-environment" "hazard-bomb" "hazard-corrosion" %}"></span>
                                            </span>
                                        </td>
                                        <td class="a">
                                            qqq uu
                                            {% comment %} TODO: display container's size I guess? {% endcomment %}
                                            {% comment %} @Html.DisplayFor(modelItem => item.conChem.Quantity)
                                            @EnumHelper.GetDisplayValue((Units)item.con.Unit) {% endcomment %}
                                        </td>
                                        <td class="a">
                                            <i class="fa-solid fa-pen-to-square"></i>
                                            {% comment %} <button type="button" class="btn" name="editTableBtn" data-toggle="modal" data-target="#edit-modal" onclick="getEditModal(@item.con.ContainerID)">
                                                <img src="assets\edit_symbol.png" class="img edit" id="buttonImg" style="width: 15px">
                                            </button>
                                            <input name="chemicalsToDelete" type="checkbox" onchange="toggleDeleteButton()" onclick="event.stopPropagation()" value="@item.con.ContainerID" style="display: none"> {% endcomment %}
                                        </td>
                                    </tr>
                                    {% comment %} <tr class="moreInformation">
                                        <td class="building">
                                            @EnumHelper.GetDisplayValue((Buildings)item.loc.BuildingName)
                                            @Html.DisplayFor(modelItem => item.loc.RoomNumber)
                                        </td>
                                        <td class="dpt">
                                            @EnumHelper.GetDisplayValue((Departments)item.supervisor.Department) Displayed department for testing, you can remove if not needed
                                        </td>
                                        <td class="b">
                                            <a asp-page="Admin/Chemicals/Details" asp-route-id="@item.chem.CasNumber">More Details</a>
                                        </td>
                                        <td class="b">
                                            <a asp-page="Admin/Hazards/Details" asp-route-id="@item.chem.CasNumber">Safety Data Sheet</a> TODO: item.chem.ChemicalHazards
                                        </td>
                                    </tr> {% endcomment %}
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </form>

                {% if not page_obj %}
                {% comment %} TODO: format this to be at the top of the page without forcing the table to shrink {% endcomment %}
                <div class="flex-fill d-flex justify-content-center">
                    <p class="h4 no-results-text">No Results Found</p>
                </div>
                {% endif %}

                {% if page_obj.has_other_pages %}
                <nav class="pageSelectorCont bg-white border-top">
                    <ul class="pagination my-2">
                    {% comment %} <span class="step-links col-12"> {% endcomment %}
                        {% if page_obj.number|add:"-1" > 1 %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1">&laquo; 1</a>
                            </li>
                        {% endif %}
                        {% if page_obj.has_previous %}
                            <li class="page-item" style="grid-column-start: 2">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&lsaquo; {{ page_obj.previous_page_number }}</a>
                            </li>
                        {% endif %}

                        {% comment %} <span class="current"> {% endcomment %}
                        <li class="page-item active" aria-current="page" style="grid-column-start: 3">
                            <span class="page-link">{{ page_obj.number }}</span>
                        </li>
                        {% comment %} </span> {% endcomment %}

                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }} &rsaquo;</a>
                            </li>
                        {% endif %}
                        {% if page_obj.number|add:"1" < page_obj.paginator.num_pages %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }} &raquo;</a>
                            </li>
                        {% endif %}
                    {% comment %} </span> {% endcomment %}
                    </ul>
                </nav>
                {% endif %}
            </div>
            {% comment %} <div class="row pageSelectorCont">
                <div class="col-12">
                    <!-- @for (var i = 1; i <= Model.DisplayContainers.Count() / 25 + 1; i++)
                    {
                        <a href=""> @i.ToString()  </a>
                    } -->

                    <a href=""> > </a>
                    <a href=""> >> </a>
                </div>
            </div> {% endcomment %}
        </div>
    </div>
</div>

<!-- <div id="results" class="results">

    <div class="pageSelectors">
        <a href=""> << </a>
        <a href=""> < </a>
        @for (var i = 1; i <= Model.DisplayContainers.Count() / 25 + 1; i++)
        {
            <a href=""> @i.ToString()  </a>
        }

        <a href=""> > </a>
        <a href=""> >> </a>

        <div style="margin-left: auto">
            <div id="regularDiv">
                <button type="button" class="searchPageBtns greenBtn" id="addChemicalBtn" data-toggle="modal" data-target="#add-modal" onclick="getAddModal()">
                    Add
                </button>
                <button type="button" class="searchPageBtns redBtn" style="pointer-events: @((Model.DisplayContainers.Count() == 0) ? " none" : "initial" )" id="initiateDelBtn" onclick="deleteModeOn()" disabled="@((Model.DisplayContainers.Count() == 0) ? " disabled" : null)">
                    Remove
                </button>
            </div>

            <div id="deleteDiv" style="display: none">
                <-- Button trigger for modal -->
                <!--<button type="button" class="searchPageBtns redBtn" id="delModalBtn" style="pointer-events: none;" data-toggle="modal" data-target="#confirmatioinModal" disabled>
                    Delete
                </button>
                <button type="button" class="searchPageBtns regBtn" onclick="deleteModeOff()" id="cancelDelBtn">
                    Cancel
                </button>
            </div>

        </div>
        </div>
</div> -->

            <!--New Create Modal HTML-->

            <div class="modal fade" tabindex="-1" role="dialog" id="add-modal">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add New Container</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="add-modal-body"></div>
                    </div>
                </div>
            </div>

            <!--New Edit Modal HTML-->

            <div class="modal fade" tabindex="-1" role="dialog" id="edit-modal">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Edit Container</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" id="edit-modal-body"></div>
                    </div>
                </div>
            </div>

<!-- Confirmation Modal -->
<div class="modal fade" id="confirmatioinModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="justify-content:center;">
                <h5 class="modal-title" style="font-size: 30px" id="modalLabel">Are You Sure?</h5>
                <button type="button" class="close" style="position: absolute; right: 15px; width: 20%;" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body" style="text-align: center">
                <button type="button" class="btn modalBtns redBtn" data-dismiss="modal">Close</button>
                <button type="submit" class="btn modalBtns greenBtn" id="DelButton" form="deleteForm" asp-page-handler="delete">
                    Yes
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    function clearForm($form) {
        $form.find(':input').not(':button, :submit, :reset, :hidden, :checkbox, :radio').val('');
        $form.find(':checkbox, :radio').prop('checked', false);
    }
    function getRoomsOfBuilding() {
        var ex = document.getElementById('BuildingIndex');
        var str = ex.options[ex.selectedIndex].value;
        document.getElementById('RoomIndex').innerHTML = "<option disabled selected hidden value=''>Room Number</option>";
        fetch(`?handler=SubCategories&buildingIndex=${str}`)
            .then((response) => {
                return response.json();
            })
            .then((data) => {
                Array.prototype.forEach.call(data, function (item, i) {
                    console.log('item', item)
                    document.getElementById('RoomIndex').innerHTML += `<option value="${item.roomNumber}">${item.roomNumber}</option>`
                });
            });
    }

    function getEditRoomsOfBuilding(initGet) {
        var ex = document.getElementById('BuildingIndex');
        var str = ex.options[ex.selectedIndex].value;
        var currRoomNumber = document.getElementById('RoomIndex').value;
        fetch(`?handler=EditCategories&buildingEditIndex=${str}`)
            .then((response) => {
                return response.json();
            })
            .then((data) => {
                if (initGet == 0) {
                    document.getElementById('RoomIndex').innerHTML = `<option selected hidden value="${currRoomNumber}">${currRoomNumber}</option>`;
                } else {
                    document.getElementById('RoomIndex').innerHTML = "<option disabled selected hidden value=''>Room Number</option>";
                }
                Array.prototype.forEach.call(data, function (item, i) {
                    document.getElementById('RoomIndex').innerHTML += `<option value="${item.roomNumber}">${item.roomNumber}</option>`
                });
            });
    }
    function getEditModal(id) {
        fetch(`?handler=EditModal&conid=${id}`)
            .then((response) => {
                return response.text();
            })
            .then((result) => {
                $('#edit-modal-body').html(result)
                getEditRoomsOfBuilding(0);
            });
    }

    function getAddModal() {
        fetch(`?handler=AddModal`)
            .then((response) => {
                return response.text();
            })
            .then((result) => {
                $('#add-modal-body').html(result)
                getRoomsOfBuilding();
            });
    }
</script>

<!-- <script>
    function showCreateAlert() {
        var hasError = @Model.createError.ToString().ToLower();
        if (hasError) {
            window.alert('Error: Invalid Data');
        }

    }
</script> -->

<script>
    //Enables or disables the delete button
    function toggleDeleteButton() {
        var checkboxes = document.getElementsByName('chemicalsToDelete'); //All the checkboxes on the chemicals
        var sendbtn = document.getElementById('delModalBtn');

        //Searches for checked box
        var checkedOne = Array.prototype.slice.call(checkboxes).some(x => x.checked);

        sendbtn.style.pointerEvents = checkedOne ? "initial" : "none";
        sendbtn.disabled = checkedOne ? false : true;
    }

    //Replaces edit image buttons with checkboxes to delete containers and changes buttons to cancel and delete
    function deleteModeOn() {
        //Hides the edit image buttons
        var editBtns = document.getElementsByName('editTableBtn');
        editBtns.forEach((val, index) => editBtns[index].style.display = "none");

        //Displays the checkboxes
        var checkboxes = document.getElementsByName('chemicalsToDelete');
        checkboxes.forEach((val, index) => checkboxes[index].style.display = "initial");

        //Changes the buttons
        var deleteDiv = document.getElementById('deleteDiv');
        deleteDiv.style.display = "initial";
        var regularDiv = document.getElementById('regularDiv');
        regularDiv.style.display = "none";
    }

    //Replaces checkboxes with edit image buttons to edit containers and changes buttons to remove and add
    function deleteModeOff() {
        //Hides and deselects the checkboxes
        var checkboxes = document.getElementsByName('chemicalsToDelete');
        checkboxes.forEach((val, index) => {
            checkboxes[index].style.display = "none";
            checkboxes[index].checked = false;
        });

        //Shows edit image buttons
        var editBtns = document.getElementsByName('editTableBtn');
        editBtns.forEach((val, index) => editBtns[index].style.display = "initial");

        //Changes buttons shown
        var deleteDiv = document.getElementById('deleteDiv');
        deleteDiv.style.display = "none";
        var regularDiv = document.getElementById('regularDiv');
        regularDiv.style.display = "initial";

        var sendbtn = document.getElementById('delModalBtn');
        sendbtn.disabled = true;
    }

</script>

<script>
    // Opens and closes the filter sections
    function closeFilter() {
        document.getElementById("search").style.display = "none";
        document.getElementById("openFilter").style.display = "block";
        document.getElementById("closeFilter").style.display = "none";
    }
    function openFilter() {
        document.getElementById("search").style.display = "block";
        document.getElementById("openFilter").style.display = "none";
        document.getElementById("closeFilter").style.display = "block";
    }

    let filterOpen = true;

    function toggleFilter() {
        if (!filterOpen) {
            // open filter
            $('.miniToggle').css('display', 'none');
            $('#search.col-sm-4.col-lg-3.filterLeft').attr('style', 'flex: 0 0 25%');
            $('#search.col-sm-4.col-lg-3.filterLeft').css('overflow-y', 'scroll');

            // show inputs with delay for smoother animation
            setTimeout(function(){
                $('.filterInputs').css('display', 'block');
            }, 100)

            filterOpen = true;
        } else {
            // close filter

            // hide inputs
            $('.filterInputs').css('display', 'none');

            $('#search.col-sm-4.col-lg-3.filterLeft').attr('style', 'flex: 0 0 3.5vw');
            $('#search.col-sm-4.col-lg-3.filterLeft').css('padding', '1vw');
            $('#search.col-sm-4.col-lg-3.filterLeft').css('overflow-y', 'clip');

            // show mini filter bar
            $('.miniToggle').css('display', 'block');
            filterOpen = false;
        }
    }

    function applyFilter() {
        let location = document.getElementById("location_id");
        let hazard = document.getElementById("hazard_id");
        let cas = document.getElementById("cas_id");
        let department = document.getElementById("department_id");


    }
</script>

{% comment %} TODO: figure out how these were supposed to work and reimplement that {% endcomment %}
{% comment %} <script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } else {
                content.style.display = "block";
            }
        });
    }
</script>
<script>
    var coll = document.getElementsByClassName("expandable");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
                this.style.backgroundColor = "rgb(225,225,225)";
            } else {
                content.style.display = "block";
                this.style.backgroundColor = "rgb(204,204,204)";
            }
        });
    }
</script> {% endcomment %}

<script>
    // The script to control the location filter selection
    var dropdown = document.getElementsByClassName("location-dropdown");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }
</script>

<script>
    // The script to control the container filter selection
    var dropdown = document.getElementsByClassName("container-dropdown");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }
</script>
{% endblock %}
