@page
@model ChemStoreWebApp.Pages.Debug.ContainerHazardsModel
@using ChemStoreWebApp.Utilities

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Container</title>
</head>
<body>
<table class="table">
    <thead>
        <tr>
            <th>
                Container ID
            </th>
            <th>
                HCode
            </th>
            <th>
                Hazard Statement
            </th>
            <th>
                Container
            </th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model.ContainerHazards)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContainerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HazardStatement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.X_Container)
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
