@page
@model ChemStoreWebApp.Pages.Debug.HazardPictogramModel
@using ChemStoreWebApp.Utilities

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Container</title>
</head>
<body>
<table class="table">
    <thead>
        <tr>
            <th>
                GHCode
            </th>
            <th>
                Description
            </th>
            <th>
                Pictogram
            </th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model.HazardPictogram)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GHCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pictogram)
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
