@page
@model ChemStoreWebApp.Pages.Debug.StatementPictogramModel
@using ChemStoreWebApp.Utilities

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Container</title>
</head>
<body>
<table class="table">
    <thead>
        <tr>
            <th>
                GHCode
            </th>
            <th>
                HCode
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.StatementPictogram) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GHCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HCode)
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
