@page
@model ChemStoreWebApp.Pages.Admin.DepartmentsModel
@using ChemStoreWebApp.Utilities

@{
    // ../Shared/_Layout.cshtml uses this for the page title
    ViewData["Title"] = "Departments Admin Page";
}

<html>
<head>
    <link rel="stylesheet" href="\css\adminSubpageLayout.css" asp-append-version="true" />
</head>

<body>
    <h2>Departments</h2>
    <table class="table">
        <thead>
            <tr>
                <th class="checkboxCol"></th>
                <th>
                    Name
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Department) {
                <tr>
                    <td class="checkboxCol">
                        <input type="checkbox" id=@item.DepartmentID/>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <style>
        button {
            background-color: #ffcd00;
            width: 150px;
            height: 40px;
            border-radius: 10px;
        }

        a {
            color: black;
        }
    </style>
    <table class="table" align="center" cellpadding="20">
        <tr>
            <td>
                <p>
                    <button type="button"><a asp-authorize asp-roles="Admin">Add New</a></button>
                </p>
            </td>
            <td>
                <p>
                    <button type="button"><a asp-authorize asp-roles="Admin">Delete Selected</a></button>
                </p>
            </td>
        </tr>
    </table>

</body>
</html>
