@page
@model ChemStoreWebApp.Pages.Admin.DepartmentsModel
@using ChemStoreWebApp.Utilities

@{
    // ../Shared/_Layout.cshtml uses this for the page title
    ViewData["Title"] = "Departments Admin Page";
}

<html>
<head>
    <link rel="stylesheet" href="\css\adminSubpageLayout.css" asp-append-version="true" />
</head>

<style>

    .btn-primary{
        background-color: #ffcd00;
        border-radius: 10px;
        color: black;
        border: 10px black;
        padding: 3px 15px;
    }
</style>

<body>
<div class="container-fluid">
    <h2>Departments</h2>
    <table class="table">
        <thead>
            <tr>
                <th class="checkboxCol"></th>
                <th>
                    Name
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Department)
            {
                <tr>
                    <td class="checkboxCol">
                        <input type="checkbox" id=@item.DepartmentID />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row align-items-end">
        <div class="p-2">
            <button type="button" class="btn-primary"><a asp-authorize asp-roles="Admin">Add New</a></button>
        </div>
        <div class="p-2">
            <button type="button" class="btn-primary"><a asp-authorize asp-roles="Admin">Delete Selected</a></button>
        </div>
    </div>
</div>
</body>
</html>
