@page
@model ChemStoreWebApp.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Admin Page";
}


<style>
    button {
        background-color: #ffcd00;
        width: 100px;
        height: 90px;
        border-radius: 10px;
    }

    .editTable {
        border: 2px solid black;
    }

    a {
        color: black;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Admin</h1>

    <table class="editTable" align="center" cellpadding="20">
        <tr>
            @*
            <td>
                <p>
                    <button type="button"><a asp-page="Hazards/Index">Hazards</a></button>
                </p>
            </td>
            *@
            <td>
                <p>
                    <button type="button"><a asp-page="/Admin/Locations">Locations</a></button>
                </p>
            </td>
            <td>
                <p>
                    <button type="button"><a asp-page="/Admin/Users">Users</a></button>
                </p>
            </td>
        </tr>
        <tr>
            @*
            <td>
                <p>
                    <button type="button"><a asp-page="ChemInContainers/Index">Chemical<br />Container<br />Relations</a></button>
                </p>
            </td>
            *@
            <td>
                <p>
                    <button type="button"><a asp-page="Departments/Index">Departments</a></button>
                </p>
            </td>
            <td>
                <p>
                    <button type="button"><a asp-page="Roles/Index">Roles</a></button>
                </p>
            </td>
        </tr>
    </table>


    <!--
    <p>
        <a asp-page="Buildings/Index">Edit buildings</a>
    </p>
    <p>
        <a asp-authorize asp-roles="Admin" asp-page="Containers/Index">Edit containers</a>
    </p>
    <p>
        <a asp-page="Hazards/Index">Edit hazards</a>
    </p>
    <p>
        <a asp-authorize asp-roles="Admin" asp-page="/Admin/Locations/Index">Edit locations</a>
    </p>
    <p>
        <a asp-page="PeopleInCharge/Index">Edit people in charge</a>
        <a asp-authorize asp-roles="Admin" asp-page="/Admin/Accounts/Index">Edit people in charge</a>

    </p>
    <p>
        <a asp-page="ChemInContainers/Index">Edit chemical-container relations</a>
    </p>
    <p>
        <a asp-page="HasHazards/Index">Edit chemical-hazard relations</a>
    </p>
    <p>
        <a asp-page="HasLocations/Index">Edit location relations</a>
    </p>
    -->

</div>
