<!-- We extend the base.html file -->
{% extends 'debug-subpage.html' %}

<!-- Static files need to be loaded on every template file -->
{% load static %}

<!-- Set the first part of title -->
{% block title %}Container Debug{% endblock %}

{%block head%}
{%endblock%}

{% block thead %}
    <tr>
        <th scope="col">ContainerID</th>
        <th scope="col">ProductName</th>
        <th scope="col">Size</th>
        <th scope="col">Notes</th>
        <th scope="col">LocationID</th>
    </tr>
{%endblock%}
{%block tbody%}
{% for item in model %}
    <tr>
        <td>{{ item.container_id }}</td>
        <td>{{ item.product_name }}</td>
        <td>{{ item.size }}</td>
        <td>{{ item.notes }}</td>
        <td>{{ item.location }}</td>
    </tr>
{% endfor %}
{% endblock %}
<!-- <table class="table">
    <thead>
        <tr>
            <th>
                ContainerID
            </th>
            <th>
                ProductName
            </th>
            <th>
                Size
            </th>
            <th>
                Notes
            </th>
            <th>
                LocationID
            </th>
        </tr>
    </thead>
    <tbody> -->
<!-- @foreach (var item in Model.X_Container) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ContainerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationID)
            </td>
        </tr>
} -->
