<!-- We extend the base.html file -->
{% extends 'debug-subpage.html' %}

<!-- Static files need to be loaded on every template file -->
{% load static %}

<!--
The debug-subpage.html template already includes most of the table, so
we just need to specify the thead row and tbody rows
-->

{% block thead %}
<tr>
    <th scope="col">ContainerID</th>
    <th scope="col">ProductName</th>
    <th scope="col">Size</th>
    <th scope="col">Notes</th>
    <th scope="col">LocationID</th>
</tr>
{%endblock%}

{%block tbody%}
{% for item in model %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.product_name }}</td>
        <td>{{ item.size }}</td>
        <td>{{ item.notes }}</td>
        <td>{{ item.location }}</td>
    </tr>
{% endfor %}
{% endblock %}
