<!-- We extend the debug-subpage.html file -->
{% extends 'debug-subpage.html' %}

<!-- Static files need to be loaded on every template file -->
{% load static %}

<!--
The debug-subpage.html template already includes most of the table, so
we just need to specify the thead row and tbody rows
-->

{% block thead %}
<tr>
    <th scope="col">DepartmentID</th>
    <th scope="col">Name</th>
</tr>
{% endblock %}

{% block tbody %}
{% for item in model %}
<tr>
    <td>{{ item.department_id }}</td>
    <td>{{ item.name }}</td>
</tr>
{% endfor %}
{% endblock %}
