<!-- We extend the base.html file -->
{% extends 'base.html' %}

<!-- Static files need to be loaded on every template file -->
{% load static %}

<!-- Set the first part of title -->
{% block title %}Department Debug{% endblock %}

{% block head %}
{% endblock %}

<!-- Everything in this block will be inserted into the body block in base.html -->
{% block body %}
<table class="table">
    <thead>
        <tr>
            <th>
                DepartmentID
            </th>
            <th>
                Name
            </th>
        </tr>
    </thead>
    <tbody>
{% comment %} @foreach (var item in Model.Department) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
} {% endcomment %}
    </tbody>
</table>
{% endblock %}
