<!-- We extend the debug-subpage.html file -->
{% extends 'debug-subpage.html' %}

<!-- Static files need to be loaded on every template file -->
{% load static %}

<!--
The debug-subpage.html template already includes most of the table, so
we just need to specify the thead row and tbody rows
-->

{% block thead %}
    <tr>
        <th scope="col">Hazard Code</th>
        <th scope="col">Statements</th>
        <th scope="col">Hazard Class</th>
        <th scope="col">Category</th>
        <th scope="col">Signal Word</th>
        <th scope="col">Precautionary Statement</th>
        <th scope="col">Pictograms</th>
    </tr>
{%endblock%}

{%block tbody%}
{% for item in model %}
    <tr>
        <td>{{ item.hazard_code }}</td>
        <td>{{ item.statements }}</td>
        <td>{{ item.hazard_class }}</td>
        <td>{{ item.category }}</td>
        <td>{{ item.signal_word }}</td>
        <td>{{ item.precautionary_statements }}</td>
        <td>{% for sp in item.statementpictogram_set.all %}
            <img src="{{ sp.gh_code.pictogram.url }}"
                 width="25">
            {% empty %}
            None
        {% endfor %}</td>
    </tr>
{% endfor %}
{% endblock %}
