<!-- We extend the base.html file -->
{% extends 'debug-subpage.html' %}

<!-- Static files need to be loaded on every template file -->
{% load static %}

<!-- Set the first part of title -->
{% block title %}HazardPictogram Debug{% endblock %}

{% block thead %}
    <tr>
        <th scope="col">PictogramID</th>
        <th scope="col">image</th>
        <th scope="col">Description</th>
    </tr>
{%endblock%}
{%block tbody%}
    {% for item in model %}
        <tr>
            <td>{{ item.pictogram_id }}</td>
            <td>{{ item.image }}</td>
            <td>{{ item.description }}</td>
        </tr>
    {% endfor %}
{% endblock %}