<!-- We extend the debug-subpage.html file -->
{% extends 'debug-subpage.html' %}

<!-- Static files need to be loaded on every template file -->
{% load static %}

<!--
The debug-subpage.html template already includes most of the table, so
we just need to specify the thead row and tbody rows
-->

{% block thead %}
    <tr>
        <th scope="col">PictogramID</th>
        <th scope="col">image</th>
        <th scope="col">Description</th>
    </tr>
{%endblock%}

{%block tbody%}
    {% for item in model %}
        <tr>
            <td>{{ item.pictogram_id }}</td>
            <td>{{ item.image }}</td>
            <td>{{ item.description }}</td>
        </tr>
    {% endfor %}
{% endblock %}
