<!-- We extend the base.html file -->
{% extends 'debug-subpage.html' %}

<!-- Static files need to be loaded on every template file -->
{% load static %}

<!-- Set the first part of title -->
{% block title %}HazardStatement Debug{% endblock %}

{% block head %}
{% endblock %}

{% block thead %}
    <tr>
        <th scope="col">Hazard Code</th>
        <th scope="col">Statements</th>
        <th scope="col">Hazard Class</th>
        <th scope="col">Category</th>
        <th scope="col">Signal Word</th>
        <th scope="col">Precautionary Statement</th>
        <th scope="col">Pictograms</th>
    </tr>
{%endblock%}
{%block tbody%}
{% for item in model %}
    <tr>
        <td>{{ item.hazard_code }}</td>
        <td>{{ item.statements }}</td>
        <td>{{ item.hazard_class }}</td>
        <td>{{ item.category }}</td>
        <td>{{ item.signal_word }}</td>
        <td>{{ item.precautionary_statements }}</td>
        <td>{{ item.pictograms }}</td>
    </tr>
{% endfor %}
{% endblock %}
