<!-- We extend the base.html file -->
{% extends 'base.html' %}

<!-- Static files need to be loaded on every template file -->
{% load static %}

<!-- Set the first part of title -->
{% block title %}Debug{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'store/css/gridTableLayout.css' %}">
{% endblock %}

<!-- Everything in this block will be inserted into the body block in base.html -->
{% block body %}
<div class="container text-center">
    <h1 class="display-4">Debug</h1>

    <div class="grid-table mx-auto px-3 border border-dark rounded">
        <div class="row justify-content-around">
            {% for model_url, model_str in models %}
            <div class="col py-3">
                <a class="btn grid-table-btn" href="{% url 'store:debug_subpage' model_url %}">{{ model_str }}</a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
