<!-- We extend the base.html file -->
{% extends 'base.html' %}

<!-- Static files need to be loaded on every template file -->
{% load static %}

<!-- Set the first part of title -->
{% block title %}Location Debug{% endblock %}

{% block head %}
{% endblock %}

<!-- Everything in this block will be inserted into the body block in base.html -->
{% block body %}
<table class="table">
    <thead>
        <tr>
            <th>
                LocationID
            </th>
            <th>
                ParentID
            </th>
            <th>
                Level
            </th>
            <th>
                Name
            </th>
            <th>
                DepartmentID
            </th>
            <th>
                SupervisorID
            </th>
            <th>
                IsHidden
            </th>
        </tr>
    </thead>
    <tbody>
{% comment %} @foreach (var item in Model.X_Location) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocationID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupervisorID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsHidden)
            </td>
        </tr>
} {% endcomment %}
    </tbody>
</table>
{% endblock %}
