<!-- We extend the base.html file -->
{% extends 'debug-subpage.html' %}

<!-- Static files need to be loaded on every template file -->
{% load static %}

<!-- Set the first part of title -->
{% block title %}LocationAttribute Debug{% endblock %}

{% block thead %}
    <tr>
        <th scope="col">AttributeID</th>
        <th scope="col">Value</th>
    </tr>
{%endblock%}
{%block tbody%}
{% for item in model %}
    <tr>
        <td>{{ item.attribute_id }}</td>
        <td>{{ item.value }}</td>
    </tr>
{% endfor %}
{% endblock %}
