<!-- We extend the debug-subpage.html file -->
{% extends 'debug-subpage.html' %}

<!-- Static files need to be loaded on every template file -->
{% load static %}

<!--
The debug-subpage.html template already includes most of the table, so
we just need to specify the thead row and tbody rows
-->

{% block thead %}
    <tr>
        <th scope="col">LocationID</th>
        <th scope="col">Parent</th>
        <th scope="col">Level</th>
        <th scope="col">Name</th>
        <th scope="col">Department</th>
        <th scope="col">Is Hidden</th>
        <th scope="col">Attributes</th>
    </tr>
{%endblock%}

{%block tbody%}
{% for item in model %}
    <tr>
        <td>{{ item.location_id }}</td>
        <td>{{ item.parent }}</td>
        <td>{{ item.level }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.department }}</td>
        <td>{{ item.is_hidden }}</td>
        <td>{{ item.attributes }}</td>
    </tr>
{% endfor %}
{% endblock %}
