<!-- We extend the base.html file -->
{% extends 'debug-subpage.html' %}

<!-- Static files need to be loaded on every template file -->
{% load static %}

<!-- Set the first part of title -->
{% block title %}PrecautionaryStatement Debug{% endblock %}

{% block thead %}
    <tr>
        <th scope="col">Precautionary Code</th>
        <th scope="col">Statement</th>
    </tr>
{%endblock%}
{%block tbody%}
{% for item in model %}
    <tr>
        <td>{{ item.precautionary_code }}</td>
        <td>{{ item.statement }}</td>
    </tr>
{% endfor %}
{% endblock %}
