<!-- We extend the debug-subpage.html file -->
{% extends 'debug-subpage.html' %}

<!-- Static files need to be loaded on every template file -->
{% load static %}

<!--
The debug-subpage.html template already includes most of the table, so
we just need to specify the thead row and tbody rows
-->

{% block thead %}
    <tr>
        <th scope="col">Precautionary Code</th>
        <th scope="col">Statement</th>
    </tr>
{%endblock%}

{%block tbody%}
{% for item in model %}
    <tr>
        <td>{{ item.precautionary_code }}</td>
        <td>{{ item.statement }}</td>
    </tr>
{% endfor %}
{% endblock %}
