@page
@model ChemStoreWebApp.Pages.Admin.Locations.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Location</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Location.Department" class="control-label"></label>
                <input asp-for="Location.Department" class="form-control" />
                <span asp-validation-for="Location.Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location.Room" class="control-label"></label>
                <input asp-for="Location.Room" class="form-control" />
                <span asp-validation-for="Location.Room" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location.Building" class="control-label"></label>
                <input asp-for="Location.Building" class="form-control" />
                <span asp-validation-for="Location.Building" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location.LocationFid" class="control-label"></label>
                <select asp-for="Location.LocationFid" class ="form-control" asp-items="ViewBag.LocationFid"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
