<!-- We extend the base.html file -->
{% extends 'base.html' %}

<!-- Static files need to be loaded on every template file -->
{% load static %}

<!-- Set the first part of title -->
{% block title %}Admin{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1 class="display-5 text-center">Locations</h1>

    <div style="padding-left: 80px;">
        <form>
            Name: <br />
            <input type="text"> <br>
            Department: <br>
            <input type="text"> <br>
            Supervisor: <br>
            &emsp; Name: <br>
            &emsp; <input type="text"> <br>
            &emsp; Email: <br>
            &emsp; <input type="text"> <br>
            &emsp; Department: <br>
            &emsp; <input type="text"> <br>
            Attributes: <br>
            <!--Add area for user input into attributes-->
            Hidden?
            <input type="checkbox" /> <br>
            Permissions:
            <!--Add area for user input into permissions-->
        </form>
    </div>
</div>
{% endblock %}
