<!-- We extend the base.html file -->
{% extends 'base.html' %}

<!-- Static files need to be loaded on every template file -->
{% load static %}

<!-- Set the first part of title -->
{% block title %}Roles{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'store/css/adminSubpageLayout.css' %}">

<style>
    {% comment %} button {
        background-color: #ffcd00;
        width: 150px;
        height: 40px;
        border-radius: 10px;
    }

    a {
        color: black;
    } {% endcomment %}

    .btn-primary{
        background-color: #ffcd00;
        border-radius: 10px;
        color: black;
        border: 10px black;
        padding: 3px 15px;
    }
</style>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1 class="display-5 text-center">Roles</h1>

    {% if model %}
    <div class="table-responsive">
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th class="checkboxCol"></th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                {% for item in model %}
                    <tr>
                        <td class="checkboxCol">
                            <input type="checkbox" id="{{ item.id }}" />
                        </td>
                        <td>{{ item.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div>Table is empty.</div>
    {% endif %}

    <div class="row align-items-end">
        <div class="p-2">
            <button type="button" class="btn-primary" id="addBtn"><a>Add New</a></button>
        </div>
        <div class="p-2">
            <button type="button" class="btn-primary" id="deleteBtn"><a>Delete Selected</a></button>
        </div>
   </div>
</div>

<!---Modal for add new button-->
<div class="modal" id="addNewModal">
    <div class="modalContent" id="addNewContent">
        <span class="close" id="close1">&times;</span>
        <p>Role Name:</p>
        <input type="text" maxlength="40" placeholder="New Name" size="10"/>
        <br /><br />
        <button type="button" class="confirmBtn">Confirm</button>
    </div>
</div>

<!--Modal for delete button-->
<div class="modal" id="deleteModal">
    <div class="modalContent" id="deleteModalContent">
        <span class="close" id="close2">&times;</span>
        <p>Are you sure you want to delete?:</p>
        <button type="button" class="confirmBtn">Confirm</button>
    </div>
</div>

<!--Functionality for "add new" modal-->
<script>
    let addModal = document.getElementById("addNewModal");
    let addBtn = document.getElementById("addBtn");
    let addSpan = document.getElementById("close1");

    addBtn.onclick = function() {
        addModal.style.display = "block";
    }

    addSpan.onclick = function() {
        addModal.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == addModal) {
            addModal.style.display = "none";
        }
    }
</script>

<!--Functionality for "delete" modal-->
<script>
    let delModal = document.getElementById("deleteModal");
    let delBtn = document.getElementById("deleteBtn");
    let delSpan = document.getElementById("close2");

    delBtn.onclick = function() {
        delModal.style.display = "block";
    }

    delSpan.onclick = function() {
        delModal.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == delModal) {
        delModal.style.display = "none";
        }
    }
</script>

{% endblock %}
