<!-- We extend the base.html file -->
{% extends 'base.html' %}

<!-- Static files need to be loaded on every template file -->
{% load static %}

<!-- Set the first part of title -->
{% block title %}Roles{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'store/css/adminSubpageLayout.css' %}">

<style>
    {% comment %} button {
        background-color: #ffcd00;
        width: 150px;
        height: 40px;
        border-radius: 10px;
    }

    a {
        color: black;
    } {% endcomment %}

    .btn-primary{
        background-color: #ffcd00;
        border-radius: 10px;
        color: black;
        border: 10px black;
        padding: 3px 15px;
    }
</style>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1 class="display-5 text-center">Roles</h1>

    {% if model %}
    <div class="table-responsive">
        <table class="table table-bordered table-sm">
            <thead>
                <tr>
                    <th class="checkboxCol"></th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                {% for item in model %}
                    <tr>
                        <td class="checkboxCol">
                            <input type="checkbox" id="{{ item.id }}" />
                        </td>
                        <td>{{ item.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div>Table is empty.</div>
    {% endif %}

    <div class="row align-items-end">
        <div class="p-2">
            <button type="button" class="btn-primary" id="addBtn"><a>Add New</a></button>
        </div>
        <div class="p-2">
            <button type="button" class="btn-primary" id="deleteBtn"><a>Delete Selected</a></button>
        </div>
   </div>
</div>
{% endblock %}
