<!-- We extend the base.html file -->
{% extends 'base.html' %}

<!-- Static files need to be loaded on every template file -->
{% load static %}

<!-- Set the first part of title -->
{% block title %}Users{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'store/css/adminSubpageLayout.css' %}">
<style>
    .d-flex {
        height: 100%; /* Make the container take up the full viewport height */
    }

    .sidebar {
        width: 250px;
        transition: width 0.3s, visibility 0.3s;
        visibility: visible;
        height: 84.5%;
        position: absolute;
        overflow-y: auto;
        overflow-x: hidden;
        z-index: 10;
    }

        .sidebar.collapsed {
            width: 50px; /* Collapse sidebar width */
            visibility: hidden;
        }

    .controls-wrapper {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 225px;
        transition: opacity 0.3s;
    }

    .sidebar.collapsed .controls-wrapper {
        opacity: 0;
    }

    .column {
        width: 45px;
        height: 84.5%;
        visibility: hidden;
    }

        .column.visible {
            visibility: visible;
        }

    .content {
        transition: margin-left 0.3s; /* Smooth transition for content adjustment */
        margin-left: 250px;
        flex-grow: 1;
    }

        .content.expanded {
            margin-left: 50px; /* Adjust content when sidebar is collapsed */
        }

    .miniToggle {
        border: none;
        background: transparent;
        outline: none;
    }
</style>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="d-flex">
        <!-- Sidebar with filter options -->
        <div id="sidebar" class="bg-light sidebar p-3 top-20 start-0">
            <div class="controls-wrapper">
                <button class="btn btn-warning w-100 mb-3" onclick="toggleSidebar()">Toggle Sidebar</button>
                <div id="filterContent">
                    <h6>Filters</h6>
                    <form method="POST">
                        {% csrf_token %}
                        <label for="nameFilter">Name:</label>
                        <input type="text" id="nameFilter" name="name" class="form-control mb-2" placeholder="Filter by name">
                        <label for="roleFilter">Role:</label>
                        <select class="form-select" id="roleFilter" name="role">
                            <option value="" selected>Filter by role</option>
                            {% for role in roles %}     <!-- Get all roles from model -->
                                <option value="{{ role.id }}">{{ role.name }}</option>
                            {% endfor %}
                        </select>
                        <label for="deptFilter">Department:</label>
                        <select class="form-select" id="deptFilter" name="department">
                            <option value="" selected>Filter by department</option>
                             {% for depart in departments %} <!-- Get all departments from model -->
                                <option value="{{ depart.id }}">{{ depart.name }}</option>
                             {% endfor %}
                        </select>
                        <h6> </h6>
                        <button type="submit" name="action" value="filter"
                                class="btn btn-primary w-80 mb-3">Apply Filters</button>
                    </form>
                </div>
                <div id="editContent">
                    <h6>Edit</h6>
                    <div class="d-inline-flex">
                        <!-- Using d-flex to put things on the same line/row -->
                        <label for="nameEdit" class="me-2">Name:</label>
                        <input type="text" id="nameEditor" class="form-control mb-2" placeholder="Edit name">
                    </div>
                    <div class="d-inline-flex">
                        <label for="usernameEdit" class="me-2">Uname:</label>
                        <input type="text" id="usernameEditor" class="form-control mb-2" placeholder="Edit username">
                    </div>
                    <div class="d-inline-flex">
                        <label for="roleEdit" class="me-3">Role:</label>
                        <select class="form-select" id="roleEditor">
                            <option value="" selected>Role</option>
                            {% for role in roles %}     <!-- Get all roles from model -->
                                <option value="{{ role.id }}">{{ role.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="d-inline-flex">
                        <label for="departmentEdit" class="me-2">Dept:</label>
                        <select class="form-select" id="departmentEditor">
                            <option value="" selected>Department</option>
                             {% for depart in departments %} <!-- Get all departments from model -->
                                <option value="{{ depart.id }}">{{ depart.name }}</option>
                             {% endfor %}
                        </select>
                    </div>
                    <h6> </h6>
                    <button name="action" id="editBtn"
                            class="btn btn-primary btn-lg w-80 mb-3">Save</button>
                <br>    <!-- Add buffer so save button is not blocked by footer -->
                <br>    <!-- When window is small -->
                <br>
                </div>
            </div>
        </div>

        <div id="column" class="bg-light column p-2 position-absolute top-20 start-0">
            <button class="miniToggle" onclick="toggleSidebar()">
                <i class="fa-solid fa-sliders"></i>
            </button>
        </div>

        <!-- Main content area displaying users -->
        <div id="content" class="content flex-grow-1 p-1">
            <h1 class="display-5 text-center">Users</h1>
            {% if model %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th> <!-- Column for checkboxes -->
                        <th>Name</th>
                        <th>Username</th>
                        <th>Role</th>
                        <th>Department</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in model %}
                    <tr>
                        <td>
                            <!-- Checkbox for selecting a user -->
                            <input type="checkbox" id="{{ item.id }}" />
                        </td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.username}}</td>
                        <!-- role_id is the name of the attribute -->
                        <td>{% if item.role_id %}{{ item.role.name }}{% endif %}</td>
                        <td>{% if item.department_id %}{{ item.department.name }}{% endif %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div>No results!</div>
            {% endif %}
        </div>
    </div>
</div>

    <!--Modal for edit button-->
    <div class="modal" id="editModal" style="z-index: 11"> <!-- Z-index needed for stacking order-->
        <div class="modalContent" id="editModalContent">
            <span class="close" id="close">&times;</span>
            <p>Are you sure you want to edit?</p>
            <button type="button" class="confirmBtn" id="editConfirm">Confirm</button>
        </div>
    </div>

<script>
    /* Function to toggle the sidebar visibility */
    function toggleSidebar() {
        let sidebar = document.getElementById("sidebar");
        let content = document.getElementById("content");
        let column = document.getElementById("column");
        sidebar.classList.toggle("collapsed");
        content.classList.toggle("expanded");
        column.classList.toggle("visible");
    }
</script>


<!--Functionality for "edit User" modal-->
<script>
    let editModal = document.getElementById("editModal");
    let editBtn = document.getElementById("editBtn");
    let editSpan = document.getElementById("close");

    editBtn.onclick = function() {
        editModal.style.display = "block";
    }

    editSpan.onclick = function() {
        editModal.style.display = "none";
    }

    window.addEventListener('click', function(event) {
        if (event.target == editModal) {
            editModal.style.display = "none";
        }
    });
</script>

{% endblock %}
