@page
@model ChemStoreWebApp.Pages.Admin.Chemical.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Chemical</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Chemical.CasNumber" class="control-label"></label>
                <input asp-for="Chemical.CasNumber" class="form-control" />
                <span asp-validation-for="Chemical.CasNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chemical.ChemicalName" class="control-label"></label>
                <input asp-for="Chemical.ChemicalName" class="form-control" />
                <span asp-validation-for="Chemical.ChemicalName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chemical.Quantity" class="control-label"></label>
                <input asp-for="Chemical.Quantity" class="form-control" />
                <span asp-validation-for="Chemical.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chemical.Manufacturer" class="control-label"></label>
                <input asp-for="Chemical.Manufacturer" class="form-control" />
                <span asp-validation-for="Chemical.Manufacturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Chemical.CatalogNumber" class="control-label"></label>
                <input asp-for="Chemical.CatalogNumber" class="form-control" />
                <span asp-validation-for="Chemical.CatalogNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
