.modalForm {
    text-align: center;
}

.modalForm input[type=text] {
    display: block;
    margin: auto;
    width: 90%;
    border: none;
}

.buildingSelector {
    display: inline;
    width: 55%;
}

.roomSelector {
    display: inline;
    width: 35%;
}

.hazardSelector {
    width: 90%;
}

.modalBtns {
    font-size: 0.85vw;
    font-weight: 600;
    line-height: 0px;
    width: 45%;
    height: 3rem;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 8px;
}

.confirmBtn {
    border: 2px solid var(--husky-yellow);
    background-color: var(--husky-yellow);
    color: var(--drk-grey);
}

.cancelBtn {
    border: 2px solid var(--drk-grey);
}

.confirmBtn:hover, .cancelBtn:hover {
    background-color: var(--drk-grey);
    border: 2px solid var(--drk-grey);
    color: white;
    transition: all 0.1s linear;
}