.modalForm {
    text-align: center;
}

.modalForm input[type=text] {
    display: block;
    margin: auto;
    width: 90%;
    border: none;
}

.buildingSelector {
    display: inline;
    width: 55%;
}

.roomSelector {
    display: inline;
    width: 35%;
}

.hazardSelector {
    width: 90%;
}

.modalBtns {
    font-size: 0.85vw;
    font-weight: 600;
    line-height: 0px;
    width: 45%;
    height: 3rem;
    color: #000000;
    border: 1px solid #000000;
    border-radius: 8px;
}

.confirmBtn {
    border: 2px solid var(--husky-yellow);
    background-color: var(--husky-yellow);
    color: var(--drk-grey);
}

.cancelBtn {
    border: 2px solid var(--drk-grey);
}

.confirmBtn:hover, .cancelBtn:hover {
    background-color: var(--drk-grey);
    border: 2px solid var(--drk-grey);
    color: white;
    transition: all 0.1s linear;
}

/* Added stylings for create contatiner attempt */

.row
{
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}


.column
{
  flex: 50%;
}

.hazardFlexBox
{
    display: flex;
    flex-wrap: wrap;
}

.hazardFlexBox > div 
{
    background-color: DodgerBlue;
    color: white;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 5px;
    font-size: 10px;
}

.containerInput {
    width: 286.91px;
    margin-bottom: 1px;
    padding: 0.4vw 0.7vw;
    border: 1px solid var(--accnt-grey);
    border-radius: 8px;
    box-shadow: var(--shadow);
}

.containerInputRow {
    width: 100%;
    margin-bottom: 1px;
    padding: 0.4vw 0.7vw;
    border: 1px solid var(--accnt-grey);
    border-radius: 8px;
    box-shadow: var(--shadow);
}

.inputDiv {
    margin-bottom: 10px;
    width: 100%;
}

.hazardx {
    width: 80px;
    height: 80px;
    display: block;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
