
h1 {
    text-align: center;
    width: 100%;
    padding-left: 400px;
}

.openFilter{
    display: inline;
}

.closeFilter{
    top: 0;
    right: 25px;
    margin-left: 350px;
    width: 30px;
    height: 20px;
    background-color: transparent;
    font-size: 24px;
    color: gray;
}
    .closeFilter:hover{
        background-color: transparent;
        color: black;
    }

.container{
    margin: 0px;
}

.search {
    left: 0;
    width: 399px;
    text-align: center;
    float: left;
    background-color: yellow;
}
.results{
    float:left;
    margin-left: 400px;
}
.default {
    text-align: center;
    display: inline;
    padding: 10px;
    margin: auto;
}

.filter {
    background-color: #cccccc;
    border-radius: 10px;
    border: none;
}

button {
    background-color: #e1e1e1;
    cursor: pointer;
    padding: 5px;
    width: 30%;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}

    button:hover {
        background-color: #cccccc;
    }

.s {
    margin: 5px;
    border-bottom: solid;
    border-top: solid;
    border-color: #cccccc;
    padding: 5px;
}

.location-dropdown {
    cursor: pointer;
}

.container-dropdown {
    cursor: pointer;
}

.location-container {
    display: none;
    padding-left: 6px;
}

.container-container {
    display: none;
    padding-left: 10px;
}

.active {
}
        

.more {
    display: none;
    overflow: hidden;
}

thead {
    display: none;
}

table {
    border: none;
}

tr {
    display: block;
    border-radius: 15px;
    width: 75%;
    margin: auto;
}

.expandable {
    background-color: #e1e1e1;
    cursor: pointer;
    margin-top: 5px;
}

    .expandable:hover {
        background-color: #cccccc;
    }

.moreInformation {
    display: none;
    background-color: #f0f0f0;
    border: solid;
    border-color: #cccccc;
    border-width: 3px;
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    width: 72%;
}

td {
    display: inline-block;
    padding: 5px;
    margin: auto;
    font-weight: 400;
    vertical-align: middle;
    color: #101010;
}

    td::before {
        float: left;
        font-size: .8em;
        color: #696969;
        font-weight: bold;
        padding: 5px;
        margin-right: 5px;
        vertical-align: middle;
    }

.a:nth-child(1)::before {
    content: "CAS Number:";
}


.a:nth-child(2)::before {
    content: "Chemical Name:";
}

.a:nth-child(3)::before {
    content: "Hazard ID:";
}

.a:nth-child(4) {
    float: right;
}

.a:nth-child(5) {
    float: right;
}
