@model ChemStoreWebApp.ViewModels.ContainerViewModel

<form method="post" id="form1" class="modalForm">
    <input type="text" name="Chemical Name" placeholder="Chemical Name" value=@Model.ChemicalName /> <br />
    <input type="text" name="CAS Number" placeholder="CAS Number" value=@Model.CasNumber /> <br />
    <input type="text" name="Supervisor" placeholder="Supervisor" value=@Model.Supervisor /> <br />
    <input type="text" name="Amount" placeholder="Amount" value=@Model.Amount /> <br />
    <select asp-for="BuildingIndex" asp-items="Html.GetEnumSelectList<Buildings>()" onchange="getRoomsOfBuilding()">
        <option value="" disabled selected hidden>Building</option>
    </select> <br />
    <select asp-for="RoomIndex">
        <option value="" disabled selected hidden>Room Number</option>
    </select> <br />
    <select name="Hazard" value="">
        <option value="" disabled selected hidden>Hazard</option>
    </select> <br />
    <button type="button" class="modalBtns redBtn" data-dismiss="modal">Cancel</button>
    <input type="submit" value="Add" class="modalBtns greenBtn" asp-page-handler="create" />
</form>
