@model ChemStoreWebApp.ViewModels.ContainerViewModel

<link rel="stylesheet" href="/css/addEditModal.css" asp-append-version="true" />

<form method="post" id="form1" class="modalForm">
    <div class="row">
        <div class="col">
            <h2><u>Container Information</u></h2> <br />
            <div class="inputDiv">
                <input type="text" class="containerInput" placeholder="Product Name" required/> <!-- Do we need to add something like "value=@Model. ProductName? How about the class="filterInput"? -->
            </div>
            <div class="row" style="width:100%; margin-bottom: 10px">
                <div class="col">
                    <input type="number" class="containerInputRow" placeholder="Size" required /> <!-- Similar to the above commment (^^^ from henceforth) -->
                </div>
                <div class="col">
                    <select class="containerInputRow">
                        <option value="mL">mL</option>
                        <option value="L">L</option>
                        <option value="kL">kL</option>
                        <option value="fl oz">fl oz</option>
                        <option value="C">Cup(s)</option>
                        <option value="P">Pint(s)</option>
                        <option value="Q">Quart(s)</option>
                        <option value="G">Gallon(s)</option>
                    </select>
                </div>
            </div>
            <div class="inputDiv">
                <select class="containerInput" asp-items="Html.GetEnumSelectList<Buildings>()" id="selectBuilding">
                    <option value="" selected disabled>Building</option>
                </select>
            </div>
            <div class="inputDiv">
                <input type="number" class="containerInput" placeholder="Room" required />
            </div>

            <label typeof="hazardBox">Hazards</label> <br />
            <!-- Probaly a flex box holding all the hazards -->
            <div class="hazardFlexBox" id="hazardBox">
                <span class="hazardx hazard-exclamation"></span>
                <span class="hazardx hazard-skull"></span>
                <span class="hazardx hazard-gas"></span>
                <span class="hazardx hazard-environment"></span>
                <span class="hazardx hazard-bomb"></span>
                <span class="hazardx hazard-corrosion"></span>
                <span class="hazardx hazard-flame-circle"></span>
                <span class="hazardx hazard-flame"></span>
                <span class="hazardx hazard-health"></span>
            </div>
            <textarea class="containerInput" id="containerNotes" name="containerNotes" rows="10" cols="30" placeholder="Notes" style="margin-bottom: 15px;"></textarea>

        </div>
        <div class="col">
            <h2><u>Chemicals</u></h2> 
            <!-- Probally going to need some sort of class struct for the actual chemical fields box -->
            <div class="inputDiv">
                <input type="text" id="chemSearch" name="Search" placeholder="Search" class="containerInput"/> <!-- Do we want some sort of value=@Model thing here, or just a call to a function? Also do we want a <br />? -->
            </div>
            <div class="row">
                <div class="col">
                    <!-- Filled field based on search response -->
                    <div class="inputDiv">
                        <input type="text" id="CAS#" name="CAS#" readonly placeholder="CAS #" class="containerInput" /> <!-- Will need a value@Model thing returned from the above searches function call -->
                    </div>
                    <div class="inputDiv">
                        <input type="text" id="chemQuantity" name="Quantity" placeholder="Quantity" class="containerInput" />
                    </div>
                    <div class="inputDiv">
                        <input type="text" id="chemManufactuer" name="Manufactuer" placeholder="Manufactuer" class="containerInput" />
                    </div>
                </div>
                <div class="col">
                    <!-- Filled field based on search response -->
                    <div class="inputDiv">
                        <input type="text" id="chemName" name="chemName" readonly placeholder="Name" class="containerInput" /> <!-- Will need a value@Model thing returned from the above searches function call -->
                    </div>
                    <div class="inputDiv">
                        <input type="text" id="preferedUnit" name="preferedUnit" placeholder="Prefered Unit" class="containerInput" />
                    </div>
                    <div class="inputDiv">
                        <input type="text" id="catalogNumber" name="catalogNumber" placeholder="Catalog #" class="containerInput" />
                    </div>
                </div>
            </div>
            <!-- End of probable chem struct box thing -->
        </div>
    </div> <br/>
    <!--
        <input type="text" class="filterInput" name="Chemical Name" placeholder="Chemical Name" value=@Model.ChemicalName /> <br />
        <input type="text" class="filterInput" name="CAS Number" placeholder="CAS Number" value=@Model.CasNumber /> <br />
        <input type="text" class="filterInput" id="addSupervisor" name="Supervisor" placeholder="Supervisor" value=@Model.Supervisor /> <br />
        <input type="text" class="filterInput" name="Amount" placeholder="Amount" value=@Model.Amount /> <br />
    
        <select asp-for="BuildingIndex" class="filterInput buildingSelector" asp-items="Html.GetEnumSelectList<Buildings>()" onchange="getRoomsOfBuilding()">
            <option value="" disabled selected hidden>Building</option>
        </select>
        <select asp-for="RoomIndex" class="filterInput roomSelector">
            <option value="" disabled selected hidden>Room Number</option>
        </select> <br />
        <select name="Hazard" class="filterInput hazardSelector" value="">
            <option value="" disabled selected hidden>Hazard</option>
        </select> <br />
    -->

    <button type="button" class="modalBtns cancelBtn" data-dismiss="modal">Cancel</button>
    <input type="submit" value="Add" class="modalBtns confirmBtn" asp-page-handler="create" />
</form>

<script>
    $(function () {
            $("#addSupervisor").autocomplete({
                source: '@Url.Page("index", "AutoComplete")'
            });
        });
</script>