@page
@model ChemStoreWebApp.Pages.ContactUsModel
@{
}
<div class="row">
    <div class="col-md-12">
        <h3>Contact us</h3>
        <p>Email us at: <strong>jeholtre@mtu.edu</strong></p>
    </div>
</div>
<form class="form form-horizontal" method="post">
    <fieldset disabled="disabled">
        <div asp-validation-summary="All"></div>
        <h5>Coming Soon!</h5>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Contact.Name" class="col-md-3 right">Name:</label>
                    <div class="col-md-9">
                        <input asp-for="Contact.Name" class="form-control" />
                        <span asp-validation-for="Contact.Name"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Contact.LastName" class="col-md-3 right">Last name:</label>
                    <div class="col-md-9">
                        <input asp-for="Contact.LastName" class="form-control" />
                        <span asp-validation-for="Contact.LastName"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Contact.Email" class="col-md-3 right">Email:</label>
                    <div class="col-md-9">
                        <input asp-for="Contact.Email" class="form-control" />
                        <span asp-validation-for="Contact.Email"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Contact.Message" class="col-md-3 right">Your Message:</label>
                    <div class="col-md-9">
                        <textarea asp-for="Contact.Message" rows="6" class="form-control"></textarea>
                        <span asp-validation-for="Contact.Message"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button type="submit">Send</button>
            </div>
        </div>
    </fieldset>

</form>