@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Search Chemical</h1>
    <input>
        <text></text>
    </input>
    <div id="chemicalGrid" style="height: 600px; width:800px;"/>

</div>
<!-- This is a test comment I made to test committing something.-->