@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    .button {
        border: none;
        color: white;
        padding: 6px 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .button1 {
        background-color: white;
        color: black;
        border: none;
        border-radius: 4px;
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <a asp-page="Admin/Index">View/edit database</a>   

    <form method="post">
        <p>
            Search: <input type="text" />
            @*asp-for="search"????*@
            <button class="button button1">Search</button>
            <button class="button button1">Filter Options</button>
        </p>
        <p>
            Email: <input type="text" asp-for="email" />
        </p>
        <p>
            CAS number: <input type="text" asp-for="chemCAS" />
        </p>
        <p>
            Name: <input type="text" asp-for="chemName" />
        </p>
        <p>
            Location: <input type="text" asp-for="location" />
        </p>
        <p>
            Number of locations: <input type="text" asp-for="numLocation" />
        </p>
        <p>
            Container size: <input type="text" asp-for="size" />
            Units: <input type="checkbox" />
        </p>
        <p>
            <input type="submit" value="Filter" />
        </p>
    </form>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>
<!-- This is a test comment I made to test committing something.-->