@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div id="chemicalGrid" style="height: 600px; width:800px;"/>

    <asp:Button onclick="createDB">
        Create the db!
    </asp:Button>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
