@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    .button {
        border: none;
        color: white;
        padding: 6px 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .button1 {
        background-color: white;
        color: black;
        border: none;
        border-radius: 4px;
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <form method="post">
        <p>
            Search: <input type="text" asp-for="searchString"/>
            <button class="button button1">Search</button>
            <button class="button button1">Filter Options</button>
        </p>
        <p>
            Email: <input type="text" asp-for="searchEmail" />
        </p>
        <p>
            CAS number: <input type="text" asp-for="searchCAS" />
        </p>
        <p>
            Building:
            <select asp-for="searchBuilding" asp-items="Html.GetEnumSelectList<Buildings>()">
                <option value="">Pick building</option>
            </select>
        </p>
        <p>
            Department:
            <select asp-for="searchDepartment" asp-items="Html.GetEnumSelectList<Departments>()">
                <option value="">Pick department</option>
            </select>
        </p>
        <p>
            Container Size: <input type="text" asp-for="searchSize" />
            <select asp-for="searchUnits" asp-items="Html.GetEnumSelectList<Units>()">
                <option value="">Select units</option>
            </select>
        </p>
        <p>
            Retired? <input type="checkbox" asp-for="searchRetired" />
        </p>
    </form>

</div>
<!-- This is a test comment I made to test committing something.-->